<div class="errors"></div>
<div class="publish-success"></div>
<div class="row">
  <div class="col-md-6">
    Publier cette annonce ?
  </div>
  <div class="col-md-6">
    <%= simple_form_for @post, url: post_publish_path(@post), method: :put, remote: true, defaults: { label_html: { class: "sr-only" }}, data: { spinnable: true, autosubmit: true } do |f|%>
      <%= f.collection_radio_buttons :published, [['Oui', true], ['Non', false]], :last, :first do |b| %>
        <span class="collection_radio_wrapper">
          <%= b.label(for: "post_#{@post.id}_published_#{b.value}") { %>
            <%= b.radio_button(id: "post_#{@post.id}_published_#{b.value}") + b.label(class: "collection_radio_buttons", for: "post_#{@post.id}_published_#{b.value}") %>
          <% } %>
        </span>
      <% end %>
    <% end %>
  </div>
</div>
