<div class="footer_msgs">
  <div class="messages-input-container">
    <div class="col-md-11 col-sm-11 col-xs-10">
      <%= render "messages/new_message" %>
    </div>

    <div class="col-md-1 col-sm-1 col-xs-1">
      <div class="options-messages">

        <div class="dropup">
            <i class="ion-plus-round icon-plus dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <% if current_user.gardien %>
              <% generate_button.each do |name, slug| %>
                <li class="btn-generator" data-generator-id=<%= slug %>>
                  <a href="#"><%= name %></a>
                </li>
              <% end %>
            <% else %>
            <li class="btn-generator" data-generator-id="magic-action">
              <a href="#">Une action magique !</a>
            </li>
            <% end %>
          </ul>
        </div>

      </div>
  </div>
</div>
