<%= simple_form_for Message.new, remote: true, data: { spinnable: true } do |f| %>
  <div class="input-body">
    <%= f.input :body, label: false, input_html: { class: "js-auto-size" } %>
  </div>
  <div class="btn-send">
    <%= button_tag "Envoyer", class: "btn btn-lg btn-secondary btn-submit" %>
    <%= button_tag "", class: "fa ion-paper-airplane icon-send" %>
  </div>
<% end %>
