<%= simple_form_for Message.new, remote: true, data: { spinnable: true } do |f| %>
  <div class="col-md-10 col-sm-10 col-xs-10">
    <%= f.input :body, label: false %>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2">
    <%= button_tag "Envoyer", class: "btn btn-lg btn-secondary" %>
    <span class="fa fa-paper-plane icon-send" type="submit"></span>
  </div>
<% end %>
