<p>Bonjour <%= @user.first_name %>,</p>

<p>Nous comptons vous remercier pour votre confiance.</p>

<p>Votre mot de passe pour Alacaza a été attribué par défaut : <%= @password %></p>

<p>Mais nulle inquiétude, tous les mails de notification vous permettront de vous connecter directement avec un accès sécurisé sans avoir besoin de remettre votre mot de passe.</p>

<p>Bien cordialement,</p>

Pour l'équipe Alacaza - Rémy <br>
+33 (0)6 61 11 67 44
