.footer_msgs {
  bottom: 0;
  position: fixed;
  background: #fff;
  z-index: 52;
  width: 100%;
  .form-group {
    margin-top: 20px;
  }
  .icon-send {
    border: none;
    font-size: 30px;
    background-color: transparent;
    position: relative;
    top: 30px;
    border: none;
    font-size: 30px;
    background-color: transparent;
    @include bp-min(991px) {
      display: none;
    }
  }
  button {
    margin-top: 20px;
    margin-left: 20px;
    padding: 9px 48px;
    @include bp-medium {
      display: none;
    }
  }
  textarea {
    border: 2px solid #E0E0E0;
    overflow-y: hidden;
    height: 42px;
    &:focus {
      border-color: rgba(244, 81, 30, 0.45);
    }
  }
}

