#new_comment {
  @include bp-small {
    display: flex;
  }
}
#footer {
  bottom: 0;
  position: fixed;
  z-index: 52;
  left: 190px;
  height: 52px;
  right: 1rem;
  @include bp-small {
    left: 10px;
  }
  .messages-input-container {
    font-size: .9rem;
    position: absolute;
    left: 65px;
    right: 0.25rem;
    padding-right: 1rem;
    box-shadow: none;
    bottom: -8px;
    .options-messages {
      background-color: white;
      border: 2px solid #E0E0E0;
      border-radius: 6px;
      width: 54px;
      height: 42px;
      position: absolute;
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      left: -54px;
      &:hover {
        background-color: $brand-primary;
        border-color: $brand-primary;
        cursor: pointer;
         .icon-plus {
          color: white;
        }
      }
      .icon-plus {
        position: absolute;
        top: 3px;
        right: 16px;
        font-size: 25px;
        color: rgba(0,0,0,.35);
        &:hover {

        }
      }
    }
  }
  .message_body {
  }
  .icon-send {
    top: -13px;
    bottom: 0;
    border: none;
    font-size: 25px;
    background-color: transparent;
    display: block;
    position: absolute;
    right: 0;
    color: #476963;
  }
  button {
    padding: 9px 30px;
    @include bp-small {
      display: none;
    }
  }
  textarea {
    color: #3d3c40;
    font-weight: 400;
    font-size: 15px;
    border: 2px solid #E0E0E0;
    height: 42px;
    background: #fff;
    width: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    line-height: 1.5rem;
    background-clip: padding-box;
    color: #3d3c40;
    -webkit-appearance: none;
    box-shadow: none;
    outline: 0;
    min-height: 42px!important;
    padding: 9px 60px 9px 8px;
    max-height: 160px!important;
    resize: none!important;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    &:focus {
      border-color: rgb(255, 159, 129);
    }
  }
}

