.scroll-container {
  overflow-x: hidden;
  position: absolute;
  top: 70px;
  bottom: 48px;
  left: 0;
  right: 0;
  overflow-y: scroll;
  .message-wrapper {
    border-bottom: 1px solid #ECECEC;
    padding: 5px 0 15px 0;
  }
  .messages-container {
    border-bottom: 1px solid #ECECEC;
    overflow-wrap: break-word;
    .msg-container,
    .cmt-container {
      position: relative;
      &:last-child {
        border-bottom: none;
      }
    }
    .cmt-container {
      margin-left: 20px;
    }
    padding: 10px;
    border-radius: 4px;
    background-color: white;
    .message-gutter,
    .comment-gutter {
      width: 72px;
      padding-right: 10px;
      text-align: right;
      position: absolute;
      top: 0;
      left: 0;
      .message-icon,
      .comment-icon {
        margin-top: 4px;
        display: block;
        .member-image {
          width: 36px;
          height: 36px;
          border-radius: .2rem;
          background-size: 100%;
          background-repeat: no-repeat;
          display: inline-block;
          position: relative;
        }
      }
      .comment-icon {
        .member-image {
          width: 25px;
          height: 25px;
        }
      }
    }
    .message-content,
    .comment-content {
      margin-left: 70px;
      .message-sender,
      .comment-sender {
        font-weight: 900;
        color: #2c2d30!important;
        line-height: 1.125rem;
      }
      .comment-sender {
        font-size: 12px;
      }
      .message-time,
      .comment-time {
        color: #9e9ea6;
        font-size: 13px;
        line-height: 1.125rem;
        margin-right: .25rem;
        opacity: 1;
        display: inline;
      }
      .message-body,
      .comment-body {
        color: #2c2d30;
        font-size: 14px;
        line-height: 20px;
      }
      .comment-body {
        font-size: 12px;
      }
    }
  }
}



