.buildings.show {
	#new-message_modal {
		.modal-dialog  {
			width: 300px;
			img {
				width: 100px;
        border-radius: .2rem;
			}
		}
		form {
			.btn-secondary {
				border-bottom: 3px solid #d74f25;
			}
		}
	}
}
