#new_channel_modal {
  .selection {
    .aa-suggestion.aa-cursor {
      border: 1px solid #eee;
      font-size: 14px;
      position: relative;
      margin-bottom: 5px;
    }
    img  {
      width: 36px;
      height: 36px;
      margin-right: 5px;
    }
    .remove-user {
      position: absolute;
      right: 13px;
      top: 9px;
      border: 0;
      font-size: 22px;
      cursor: pointer;
      color: #eb4d5c;
    }
  }
  @include bp-small {
    .modal-footer {
      position: fixed;
      bottom: 0;
    }
  }
}
.select2-selection {
  height: 100% !important;
}

#edit_channel_modal {
  @include bp-small {
    .modal-footer {
      position: fixed;
      bottom: 0;
    }
  }
  .users-list {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
    border: 1px solid #eee;
    padding: 10px;
    -webkit-overflow-scrolling: touch;
    a {
      color: #333;
      top: 4px;
      position: relative;
    }
  }
  .leave-channel {
    span {
      color: #333;
    }
  }
  .member-image {
    width: 36px;
    height: 36px;
    border-radius: .2rem;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
  }
}


.select2-search .select2-search--inline {
  width: 100%;
}
.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice__remove {
  cursor: pointer;
  display: inline-block;
  margin-right: 3px;
  position: absolute;
  right: 0;
  font-size: 21px;
  top: -5px;
  font-weight: 200;
  color: white;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
  display: inline-block;
  padding: 2px 21px 2px 4px;
  border: 1px solid $brand-secondary;
  border-radius: 3px;
  background: $brand-secondary;
  color: #FFF;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  vertical-align: middle;
  margin: 7px 0 0px 6px;
}
.select2-container--bootstrap .select2-selection--multiple .select2-selection__rendered {
  padding-bottom: 7px;
}
.select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field {
  position: relative;
  top: 4px;
}
