<div class="inquiry-sent-modal">
  <div class="inquiry-sent-container text-center">
    <h3>
      Merci !
    </h3>
    <p class="space-top-2">Votre commande a bien été prise en compte :) <br> et transmise au restaurant !</p>
    <%= link_to "Suivant", ( current_user ? appartments_path(@building.slug) : root_path ), class: "btn btn-secondary space-top-4" %>
  </div>
</div>
