.gardien.navbar {
  background: #FF845E;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  .navbar-left {
    li a {
      color: white;
    }
  }
  .navbar-right {
    span,
    a {
      font-size: 14px;
      font-weight: 600;
      margin-right: 10px;
      color: white;
      padding-top: 15px;
    }
    span {
      position: relative;
      top: 15px;
    }
  }
}
