<div class="scroll-container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="messages-container">
          <% @messages.order(created_at: :asc).each do |message| %>
            <%= render "messages/message", message: message %>
          <% end %>
      </div>
    </div>
  </div>
  <%= render "messages/footer" %>
</div>
