.items.new,
.items.create,
.items.edit {
  .client-ui {
    margin-left: 220px;
    margin-top: 0;
    padding-top: 20px;
    overflow-x: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: rgba(251, 251, 251, 1);
    @include bp-small {
      margin-left: 0px;
    }
    label {
      font-size: 16px;
    }
    .input-lg {
      border-color: #DADBDD
    }
    // Photos
    .photo-pending {
      height: 150px;
      border: 2px dashed #eee;
      cursor: pointer;
      background-color: white;
      .camera {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        svg {
          g {
            fill: #d5d5d5;
          }
        }
      }
    }
    .photo-container {
      position: relative;
      overflow: hidden;
    }
    #upload_image_preview {
      height: 150px;
      cursor: pointer;
      img {
        @include horizontal-align(absolute)
      }
    }
  }

}
