<li>
  <% if current_page.last? %>
    <span class="disabled">
      <%= raw(t 'views.pagination.next') %>
    </span>
  <% else %>
    <%= link_to_unless current_page.last?, raw(t 'views.pagination.next'), url, :rel => 'next', :remote => remote %>
  <% end %>
</li>
