.navbar {
  .navbar-progress {
    width: 100%;
    height: 25px;
    position: absolute;
    background-color: #2ab27b;
    bottom: -25px;
    left: 0;
    margin-left: auto;
    right: 0;
    margin-right: auto;
    overflow: hidden;
    .progress_bar_progress_thin {
      width: 0%;
      background-color: #b2d5c9;
      background-position: center center;
      background-repeat: repeat-x;
      background-size: 36px 36px;
      background-image: image-url("progress_bar_pattern.png");
      border-radius: .25rem;
      height: 100%;
      -webkit-transition: width .15s ease-out 0s;
      -moz-transition: width .15s ease-out 0s;
      transition: width .15s ease-out 0s;
      display: inline-block;
    }
    .progress-text {
      position: absolute;
      top: .2rem;
      left: .4rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
      color: white;
      font-weight: 500;
    }
  }

  padding: 10px;
  background-color: white;
  z-index: 3;
  border: none;
  border-radius: 0px;
  .info-icon {
    position: absolute;
    left: 20px;
    font-size: 32px;
    top: 19px;
    color: #FF6E41;
  }
  &.border-shadow {
    box-shadow: 0px 1px 2px #ADAEAE;
  }
  .navbar-collapse {
    border-color: #696969;
  }
  .navbar-header {
    margin-left: 60px;
    @include bp-small {
      margin-left: 20px;
    }
    .navbar-brand {
      font-family: "CaviarDreams";
      font-size: 40px;
      color: $brand-primary;
      top: 9px;
    }
  }
  .navbar-nav > li > a {
    color: #ee4e44;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
    &:hover, &:active, &:focus {
      color: rgba(238, 78, 68, 0.59);
    }
  }
  .flag {
    background-image: image-url("frenchflag.png");
    padding: 5px;
    position: relative;
    height: 20px;
    width: 30px;
    top: 14px;
    background-repeat: no-repeat;
    margin-left: 10px;
  }
}
