@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-datepicker3";

// Select 2
@import "select2";
@import "select2-bootstrap";

@import "utilities/*";
@import "variables";
@import "mixins/*";

@import "votes";

@import "shared/*";
@import "messages/*";
@import "services/*";
@import "missions/*";
@import "leads/*";
@import "channels/*";
@import "admin/*";
@import "admin/users/*";
@import "users/*";
@import "gardien/channels/*";
@import "gardien/*";
@import "application/pages/*";
@import "application/users/*";

@import "users/items/*";

@import "items/*";

@import "sidebar";

@import "application/layout";
@import "application/layout/public_navbar";

.modal-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 220px;
  bottom: 0;
  z-index: 100;
  background-color: black;
  opacity: 0.5;
}

