.col-channels {
  @include bp-small {
    display: none;
  }
  overflow-y: auto;
  z-index: 99;
  background: #FF845E;
  color: white;
  width: 220px;
  position: absolute;
  top: 0px;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  .building-information {
    height: 65px;
    margin-top: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    .name {
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      padding: 10px;
    }
  }
  .add-channel {
    text-transform: uppercase;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.61);
    text-decoration: none;
    margin-bottom: 10px;
    a {
      color: rgba(255, 255, 255, 0.61);
      margin-left: 7px;
    }
  }
  .group-channels,
  .private-channels {
    padding-top: 10px;
    margin: 10px;
    .title {
      text-transform: uppercase;
      font-size: 13px;
      color: rgba(255, 255, 255, 0.61);
      margin-bottom: 1px;
    }
    .list {
      padding-left: 5px;
      a {
        text-decoration: none;
        li {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 182px;
        }
        .current {
          background-color: #476963;
          font-weight: 600;
          padding: 4px;
          margin-left: -15px;
          margin-right: -10px;
          color: white;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 182px;
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
          .channel-name {
            margin-left: 10px;
          }
          &:hover {
            text-decoration: none;
          }
        }
        .others {
          padding: 4px;
          margin-right: -10px;
          color: rgba(255, 255, 255, 0.61);
          margin-left: -15px;
          &:hover {
            background-color: rgba(255, 255, 255, 0.09);
          }
          .channel-name {
            margin-left: 10px;
          }
        }
      }
    }
  }
  .logout {
    text-align: center;
    color: white;
    a {
      color: white;
      font-size: 16px;
    }
  }
  hr {
    width: 80%;
    border-top: 1px solid rgba(255, 255, 255, 0.61);
  }
  .settings {
    font-size: 16px;
    a {
      padding: 4px;
      margin-right: -10px;
      color: white;
      margin-left: 1px;
      &:hover {
        text-decoration: none;
      }
    }
    i {
      color: white;
      margin-left: 4px;
    }
    svg {
      width: 21px;
      left: 2px;
      top: 4px;
      height: 21px;
      position: relative;
      g {
        fill: white;
      }
    }
    .activities-link {
      i {
        font-size: 1.333333em;
      }
    }
  }
}
