.edit_account {
  .client-ui {
    margin-left: 220px;
    margin-top: 0;
    padding-top: 20px;
    overflow-x: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: rgba(251, 251, 251, 1);
    @include bp-small {
      margin-left: 0px;
    }
  }
}
