.modal-body {
  padding: 20px 35px 60px 35px !important;
  .modal-title {
    position: relative;
  }
  .image-container {
    margin-left: auto;
    width: 200px;
    height: 200px;
    margin-right: auto;
    @include bp-extra-small {
      width: 100px;
      height: 100px;
    }
    .image-wrapper {
      position: relative;
      cursor: pointer;
      .hover-background {
        display: none;
        content: "Change your profile photo";
        box-sizing: border-box;
        padding: 8.5rem 2rem 0;
        font-weight: 700;
        text-align: center;
        color: #fff;
        position: absolute;
        background-color: rgba(0,0,0,.7);
        border: .25rem solid #439fe0;
        border-radius: .2rem;
        top: 22px;
        left: 0;
        width: 200px;
        height: 200px;
        z-index: 1;
        @include bp-extra-small {
          width: 100px;
          height: 100px;
          padding: 25px 0px;
          font-size: 13px;
        }
      }
      &:hover {
        .fa-camera,
        .fa-spinner {
          font-size: 27px;
          @include bp-extra-small {
            font-size: 16px;
          }
        }
        .hover-background {
          display: inline-block;
        }
      }
      .member-image {
        width: 200px;
        height: 200px;
        border-radius: .2rem;
        background-size: 100%;
        background-repeat: no-repeat;
        display: inline-block;
        position: relative;
        @include bp-extra-small {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
  .tooltip-inner {
    max-width: 400px;
  }
  form {
    .select2 {
      width: 100% !important;
      .select2-selection {
        height: 38px;
        #select2-user_sex-container,
        #select2-user_user_status-container {
          font-size: 16px;
        }
      }
    }
    input {
      font-size: 16px;
    }
    // .col-md-6 {
    //   width: 50%;
    //   float: left;
    // }
  }
}


