.hint {
  font-size: 13px;
  text-align: center;
}
.select2-search__field {
  width: 100% !important;
}
.modal-title {
  @include bp-extra-small {
    font-size: 20px !important;
  }
}
.modal-body input {
  font-size: 14px !important;
}
.open-profil {
  position: absolute;
  left: 220px;
  z-index: 4;
  background-color: #F6BD60;
  font-size: 17px;
  top: 70px;
  color: white;
  width: 100%;
  left: 0;
  border-bottom-width: 3px;
  border-bottom-color: #eca533;
  @include bp-min(768px) {
    width: 100%;
  }
}
.open-profil:hover,
.open-profil:focus {
  color: #fff;
  background-color: #f1a222 !important;
  border-color: #f1a222 !important;
  border-bottom-width: 0px;
}

