<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div class="container">
  <h3 class="text-left page-header">Les inscriptions par semaine (<%= @user_count %>)</h3>
  <%= line_chart @user %>
</div>
